<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
	<title>mORMot App - About</title>
</head>
<body>
    {{>nav}}
    <div class="uk-container uk-margin-top">
        <div class="uk-h2 uk-text-meta">Technologies used to create this app</div>
        <div class="uk-placeholder">
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body">
                        <h3 class="uk-card-title"><a target="_blank" href="https://www.embarcadero.com/products/delphi">Delphi</a></h3>
                        <p>The fastest way to write, compile, package and deploy cross-platform native applications.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body">
                        <h3 class="uk-card-title"><a target="_blank" href="https://synopse.info/files/html/Synopse%20mORMot%20Framework%20SAD%201.18.html#SOURCE">Synopse mORMot Framework</a></h3>
                        <p>A Client-Server ORM SOA MVC framework for Delphi and FPC.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body">
                        <h3 class="uk-card-title"><a target="_blank" href="https://getuikit.com/">UIkit</a></h3>
                        <p>A lightweight and modular front-end framework.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body">
                        <h3 class="uk-card-title"><a target="_blank" href="https://materializecss.com/">Materialize</a></h3>
                        <p>A modern responsive front-end framework based on Material Design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>  
</body>
</html>