<!DOCTYPE html>
<html lang="en">
<head>
{{>head}}
	<title>mORMot App - Useful</title>
</head>
<body>	
	{{>nav}}
	<div class="uk-container">
		{{#Scope}}
		<h3 class="uk-margin-top uk-margin-bottom">Handige Links - Useful Links <a href="doLogout" uk-icon="icon: sign-out; ratio: 1.5" uk-tooltip="title: Log out; pos: right; animation: uk-animation-fade"></a></h3>
		<div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-flex" uk-grid>		
			{{#links}}			
			<div>
				<ul class="uk-list uk-list-striped">
					<li>
						<a target="_blank" href={{link}}>{{desp}}</a> 
						<a style="float:right;" uk-icon="icon: minus-circle" uk-tooltip="title: Remove; pos: right; animation: uk-animation-fade" onclick="removeLink({{id}})"></a>
					</li>			
				</ul>				
			</div>
			{{/links}}	
			{{^links}}
				<div class="uk-alert-warning uk-margin-left" uk-alert>			   
					<p>Uw handige link is leeg - Your useful link is empty</p>
				</div>			
			{{/links}}		
		</div>

		<hr class="uk-divider-icon">

		<h4 id="Add" class="uk-text-primary">Voeg een Artikel toe <span class="uk-text-meta">Add an entry</span></h4>
		
		<div>			
			<form action="doAddLink" method="post" uk-margin>
				<input class="uk-input uk-width-1-1@m uk-width-1-3@l" type="text" name="LinkSelf" placeholder="Voer een web link in - Enter a web link" required> 
				<input class="uk-input uk-width-1-1@m uk-width-1-3@l" type="text" name="LinkDesp" placeholder="Voer de omschrijving in - Enter the description" required> 
				<button class="uk-button uk-button-primary">ADD/TOEVOEGEN</button>
				{{#ar_msg}}
				<div class="uk-alert-danger" uk-alert>
					<h4>{{ar_msg}}</h4>
				</div>
				{{/ar_msg}}
			</form>					
		</div>
		{{/Scope}}
	</div>

	<script>
		function removeLink(id) {
			UIkit.modal.confirm('Are you sure you want to remove this Link?').then(function() {
				window.location.replace('doRemoveLink?id=' + id);
			});
		}	
	</script>
</body>
</html>